<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>{% block title %}Monitor mediów{% endblock %}</title>
{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.1.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.10.4.css' %}">
{% endblock %}
{% block js %}
     <script src="{% static 'js/libs/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'js/libs/jquery-ui-1.10.4.js' %}"></script>
    <script src="{% static 'bootstrap-3.1.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

</head>
<body>
    {% block navbar %}

    <nav class="navbar navbar-default" role="navigation" style="background-color:rgba(240, 240, 240, 0.8);
                                                                border-bottom-left-radius: 20px;
                                                                 border-bottom-right-radius: 20px;
                                                                 box-shadow:0px 1px 4px rgba(0, 0, 0, 0.45);
                                                                 ">
    <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'panel' %}"><strong class="text-info"
                                 style="text-transform: capitalize;margin-right: 130px;font-size:150%;">Monitor</strong></a>
        </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: #DDD;
                                                                            border-bottom-left-radius: 10px;
                                                                            border-bottom-right-radius: 10px;
                                                                            top:0px;
                                                                            height:45px;
                                                                            font-size:105%;
                                                                            color: #2b669a;
                                                                            "><strong>Przeglądaj zapytania</strong> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                    {% if queries == None %}
                        <li><a href="#"><strong>Jeszcze nie dodałeś żadnych zapytań</strong></a></li>
                    {% endif%}
                    {% for q in queries %}
                   <li><a href="{{ q.get_absolute_url }}">{{ q.query_name }} ({{ q.has_new }})</a></li>
                    <li class="divider"></li>
                    {% endfor %}
              </ul>
            </li>

            <li><a href="{% url 'new' %}" style="background-color: #DDD;
                                                 border-bottom-left-radius: 10px;
                                                 border-bottom-right-radius: 10px;
                                                 top:0px;
                                                 height:45px;
                                                 font-size:105%;
                                                 margin-left:10px;
                                                 color:#28a4c9;
                                                 "><strong>Nowe zapytanie</strong></a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>{{ user }} </strong><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'logout' %}">Wyloguj się</a></li>
                </ul>
            </li>
          </ul>
        </div>

    </div>
    </nav>

    {% endblock %}

    {%  block content %}
    {%  endblock %}

</body>
</html>