{%  extends 'base.html' %}
{% load static %}

{% block title %}Monitor - nowe zapytanie {% endblock %}

{% block js %}
{{ block.super }}

{% endblock %}

{%  block content %}
<script>
TOKEN = '{{ csrf_token }}';
</script>

    <style>
    body{
        background: url('{% static "img/tekstura.png" %}') repeat fixed 0% 0% transparent;
    }
    .ogol{
        width:60%;
        margin-left: 20% !important;
        margin-top:4%;
        background-color: #c4e3f3;
        padding:20px;
        border-radius:3px;
        box-shadow: 1px 1px 1px 2px #28a4c9;
    }
    .words{
        border: 1px solid cornflowerblue;
        border-radius:5px;
        height: 190px;
        background-color: ghostwhite;
        padding:1%;
        text-align: center;
    }
    .kolumna{
        width:80%;
        margin-left: 10%;

    }
    .send{
        float:right;
    }
    #inputo{
        width: 79%;
        display:table;
        float:left;
    }
    #dodaj{
        float:right;
        width:20%;
    }
    .over{
        display:table;
    }
    .chmurka{
        margin:3px;
        min-width:20%;
        height:30%;
        font-size:150%;
    }
    .chmurka:hover{
        background-color: darkred;
        border: 1px solid  #A94442;
    }

    </style>

<div class="ogol">
    <div class="kolumna">

        <form class="word-form form" role="form" onsubmit="event.preventDefault();">

            <div class="form-group">
                <label for="qname">Nazwa nowego zapytania</label>
                <input class='form-control' id='qname' type="text" placeholder="Podaj nazwę zapytania" name="nazwa" required>
            </div>

            <div class="form-group">
                <label class="over" for="inputo">Wpisz słowo kluczowe</label>
                <input class='form-control' id='inputo' type="text" name="word" placeholder="Podawaj po jednym słowie" required pattern="[A-Za-z]{20}"
                        title="tylko pojedyncze słowo">
                    <button type="button" id='dodaj' class="btn btn-primary">
                        <span class="glyphicon glyphicon-pushpin"></span> Dodaj
                    </button>
            </div>
            <div style="clear:both;"></div>
        </form>

        <p> <div class="words"></div> </p>

        <p class="">
            <button type="button" class="send btn btn-primary btn-lg ">
                <span class="glyphicon glyphicon-floppy-disk "></span> Zapisz i wyślij
            </button>
        </p>
    <div style="clear:both;"></div>
    </div>
</div>
 <script src="{% static 'js/words.js' %}"></script>
{%  endblock %}
