{%  extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
     <style>
    body{
        background: url("{% static 'img/morgue.jpg' %}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/szary.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/szary.jpg', sizingMethod='scale')";
    }
    </style>
{% endblock %}

{%  block content %}
    <div id="intro">
        <div id="in">

            <div class="text">
            <h1>Monitor</h1>
            <p>Monitorowanie mediów internetowych pod względem wybranych treści</p>
            <p> z wykorzystaniem algorytmów przetwarzania języka naturalnego (NLP)</p>
            </div>

        </div>
    </div>

    <style>

    .text{
        margin-top:5%;
        position: absolute;
        margin-left:8%;
    }
    #intro{
        color:rgb(49, 112, 143);
        width:70%;
        height:300px;
        border-radius:20px;
        margin-top:110px;
        margin-left:auto;
        margin-right:auto;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
        background-color:rgba(240,240,240,0.5);
        text-align:center;
        text-shadow: black 0.2em 0.2em 0.3em;
    }

    #in{
        width:98%;
        height:290px;
        background-color:rgba(235,235,235,0.4);
        margin-left:auto;
        margin-right:auto;
        border-radius:20px;

    }
    #intro h1{
        font-family: 'Abril Fatface', sans-serif;
        letter-spacing:8px;
        font-size:320%;
        color:#483D8B;
        margin-bottom:3px;

    }
    p{
        font-size:130%;
        font-family: 'Advent Pro', sans-serif;
        color:#483D8B;
    }
    </style>
{%  endblock %}