{%  extends 'base.html' %}

{%  block content %}
    <style>
    .row{margin-left:20%;
    background-color: #f5f5f5;
    width:55%;
    border-radius:1%;
    box-shadow: 1px 1px 1px 1px #c4e3f3}
    .active {
        background-color: green;
    }
    .med{
        background-color: orange;
    }
    </style>
<div class="row">
    <div class="col-md-7">
        <h2>{{ query.query_name }}{% if not query.processed %}<small> przetwarzanie w toku</small>{% else %}<small> aktywne</small>{% endif %}</h2>

         <p>
              <strong>Słowa kluczowe: </strong> {{ query.utc_keywords }}
              {% if query.processed %}<small><i> [{{ query.utc_normalized }}]</i></small>{% endif %}
         </p>

        <p><strong>Data utworzenia: </strong> <i> {{ query.date }}</i></p>

        {% if query.medium.all|length %}
            <h3>Artykuły <small> {{ query.medium_filtered.all|length }} </small></h3>

            <ul class="list-group" style="width:600px;">
            {% for art in query.medium_filtered.all|dictsort:"date"|dictsortreversed:"percentage" %}

            <li class="list-group-item" style="height: 10%;">
                <a href="{{ art.article.url }}">{{ art.article.title }}</a>
                </br>
                <small>{{ art.date }}</small>
                <span class="badge
                    {% if art.percentage >= 80.0 %}active{% endif %}
                    {% if art.percentage >= 50.0 and art.percentage < 80.0%}med{% endif %}
                    ">{{ art.percentage }}%</span></li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="bg-warning" style="width:90%;"><b>Nie znaleziono jeszcze pasujących artykułów</b></p>
        {% endif %}
    </div>
<div>
{%  endblock %}